<nav class="container d-flex j-between a-center ptb-16 ptb-md-12">
  <div class="d-flex a-center">
    <a href="./index.html"
      ><img
        src="https://github.com/Ken2011404/week2/blob/main/IMG/Logo.png?raw=true"
        alt="Logo"
        class="mr-48"
    /></a>
    <ul class="head-nav d-flex a-center">
      <li class="mr-40">
        <a href="./products.html" class="ptb-12 label-md d-md-none">商品列表</a>
      </li>
      <li>
        <a href="./story.html" class="ptb-12 label-md d-md-none">品牌故事</a>
      </li>
    </ul>
  </div>

  <a href="./login.html" class="p-12"><i class="bi bi-person"></i></a>
</nav>
