.login-img {
  background-image: url("../assets/images/login.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  border-radius: 12px;
}
.login-bg {
  background-image: url("../assets/images/login-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  border-radius: 12px;
}
.login-btn {
  border-radius: 0px;
}
.black-border-bottom {
  border-bottom: 2px solid $neutral-900;
}
.gray-border-bottom {
  border-bottom: 2px solid $neutral-300;
}
.login-choose li {
  background-color: $neutral-0;
  border: 1px solid $neutral-300;
}
@include media {
  .login-md-img {
    background-image: url("../assets/images/login-sm.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0;
  }
  .login-md-bg {
    background-image: none;
  }
}
