.menu .active,
.menu a:hover,
.breadcrumb-item:hover {
  color: $primary-400;
}
.page .btn {
  padding: 8px 15px;
  border-radius: 0;
  font-weight: 400;
}
.btn-hover:hover {
  background-color: $neutral-300;
}
.page .active {
  background-color: $primary-300;
  font-weight: 500;
}
