/* 通用樣式 */
.d-flex {
  display: flex;
}
.d-none {
  display: none;
}
.d-block {
  display: block;
}
.j-center {
  justify-content: center;
}
.j-between {
  justify-content: space-between;
}
.a-center {
  align-items: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.m-between {
  margin: 0 auto;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding-right: 12px;
  padding-left: 12px;
}
/* md用 */
@include media {
  .d-md-block {
    display: block;
  }
  .d-md-flex {
    display: flex;
  }
  .d-md-none {
    display: none;
  }
  .flex-direction-md-column {
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .d-sm-block {
    display: block;
  }

  .d-sm-none {
    display: none;
  }
}
/* 格線 */
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px;
}
.col-1 {
  padding: 0 12px;
  width: calc(100% / 12);
}
.col-2 {
  padding: 0 12px;
  width: calc(100% / 12 * 2);
}
.col-3 {
  padding: 0 12px;
  width: calc(100% / 12 * 3);
}
.col-4 {
  padding: 0 12px;
  width: calc(100% / 12 * 4);
}
.col-5 {
  padding: 0 12px;
  width: calc(100% / 12 * 5);
}
.col-6 {
  padding: 0 12px;
  width: calc(100% / 12 * 6);
}
.col-7 {
  padding: 0 12px;
  width: calc(100% / 12 * 7);
}
.col-8 {
  padding: 0 12px;
  width: calc(100% / 12 * 8);
}
.col-9 {
  padding: 0 12px;
  width: calc(100% / 12 * 9);
}
.col-10 {
  padding: 0 12px;
  width: calc(100% / 12 * 10);
}
.col-11 {
  padding: 0 12px;
  width: calc(100% / 12 * 11);
}

.col-12 {
  padding: 0 12px;
  width: 100%;
}
@include media {
  .row {
    margin: 0 -6px;
  }
  .col-md-1 {
    padding: 0 6px;
    width: calc(100% / 4);
  }
  .col-md-2 {
    padding: 0 6px;
    width: calc(100% / 4 * 2);
  }
  .col-md-3 {
    padding: 0 6px;
    width: calc(100% / 4 * 3);
  }
  .col-md-4 {
    padding: 0 6px;
    width: 100%;
  }
  .row-md {
    margin: 0 -8px;
    flex-wrap: nowrap;
  }
}
@media (max-width: 576px) {
}
/* btn */
.btn {
  font-weight: 500;
  padding: 12px 24px;
  border-radius: 4px;
  line-height: 1.5;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font: inherit;
  &-none {
    pointer-events: none;
  }
}

/* 通用內容 */
.text-center {
  text-align: center;
}
.text-end {
  text-align: end;
}

@include media {
  .text-align-start-md {
    text-align: start;
  }
}

/* breadcrumb */
.breadcrumb-item + .breadcrumb-item::before {
  content: "/";
  padding-left: 12px;
  padding-right: 12px;
  color: $neutral-300;
  font-weight: 700;
  @include media {
    padding-left: 8px;
    padding-right: 8px;
  }
}
.breadcrumb {
  &-item {
    display: flex;
    font-weight: 500;
  }
  &-link {
    color: $neutral-600;
  }
  &-link:hover {
    color: $primary-400;
  }
}

// 圖片
.w-50 {
  width: 50%;
}
.w-100 {
  width: 100%;
}
/* 字型 */
.display-1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 1.2;
}
.display-2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
}
.h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
}
.h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
}
.h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2;
}
.h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
}
.h5 {
  color: $primary-400;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}
.h6 {
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.044em;
}

.label-md {
  font-weight: 500;
  font-style: medium;
}
.label-sm {
  font-size: 14px;
  font-weight: 500;
  font-style: medium;
}
.paragraph-md {
  font-style: regular;
}
.paragraph-sm {
  font-size: 14px;
  font-style: regular;
}
.paragraph-lg {
  font-weight: 400;
  font-size: 20px;
  font-style: regular;
}
@include media {
  .text-md-start {
    text-align: start;
  }
  .display-2 {
    font-size: 48px;
  }
  .h2-md {
    font-size: 32px;
  }
  .h3-md {
    font-size: 28px;
  }
  .h4-md {
    font-size: 24px;
  }
  .h5-md {
    font-size: 20px;
  }
  .h6-md {
    font-size: 16px;
  }
  .label-sm-md {
    font-size: 14px;
  }
  .paragraph-sm-md {
    font-size: 14px;
    font-style: regular;
  }
}
@media (max-width: 576px) {
  .h3-sm {
    font-size: 28px;
  }
  .h4-sm {
    font-size: 24px;
  }
  .h5-sm {
    font-size: 20px;
  }
  .h6-sm {
    font-size: 16px;
  }
}

/* padding */
.pb-12 {
  padding-bottom: 12px;
}
.pb-32 {
  padding-bottom: 32px;
}
.pb-48 {
  padding-bottom: 48px;
}
.pl-12 {
  padding-left: 12px;
}
.pr-8 {
  padding-right: 8px;
}
.pr-12 {
  padding-right: 12px;
}
.plr-8 {
  padding-left: 8px;
  padding-right: 8px;
}
.plr-12 {
  padding-left: 12px;
  padding-right: 12px;
}
.plr-24 {
  padding-left: 24px;
  padding-right: 24px;
}
.plr-80 {
  padding-left: 80px;
  padding-right: 80px;
}
.pt-32 {
  padding-top: 32px;
}
.ptb-7 {
  padding-top: 7px;
  padding-bottom: 7px;
}
.ptb-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.ptb-9 {
  padding-top: 9.5px;
  padding-bottom: 9.5px;
}
.ptb-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}
.ptb-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.ptb-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}
.ptb-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}
.ptb-48 {
  padding-top: 48px;
  padding-bottom: 48px;
}
.ptb-64 {
  padding-top: 64px;
  padding-bottom: 64px;
}
.ptb-120 {
  padding-top: 120px;
  padding-bottom: 120px;
}
.p-12 {
  padding: 12px;
}
.p-16 {
  padding: 16px;
}
@include media {
  .plr-md-8 {
    padding-right: 8px;
    padding-left: 8px;
  }

  .plr-md-0 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .plr-md-12 {
    padding-right: 12px;
    padding-left: 12px;
  }
  .ptb-md-9h {
    padding-top: 9.5px;
    padding-bottom: 9.5px;
  }
  .ptb-md-12 {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .ptb-md-16 {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .ptb-md-32 {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .ptb-md-40 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .pt-md-24 {
    padding-top: 24px;
  }
  .pb-md-0 {
    padding-bottom: 0px;
  }
  .pb-md-32 {
    padding-bottom: 32px;
  }
  .p-md-24 {
    padding: 24px;
  }
}
@media (max-width: 576px) {
  .plr-sm-12 {
    padding-right: 12px;
    padding-left: 12px;
  }
  .ptb-sm-12 {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .ptb-sm-32 {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .pb-sm-32 {
    padding-bottom: 32px;
  }
}

/* margin */
.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}
.mt-12 {
  margin-top: 12px;
}
.mt-40 {
  margin-top: 40px;
}
.mr-8 {
  margin-right: 8px;
}
.mr-12 {
  margin-right: 12px;
}
.mr-16 {
  margin-right: 16px;
}
.mr-24 {
  margin-right: 24px;
}
.mr-40 {
  margin-right: 40px;
}
.mr-48 {
  margin-right: 48px;
}
.mb-4 {
  margin-bottom: 4px;
}
.mb-8 {
  margin-bottom: 8px;
}
.mb-12 {
  margin-bottom: 12px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mb-32 {
  margin-bottom: 32px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-48 {
  margin-bottom: 48px;
}
.mt-48 {
  margin-top: 48px;
}
@include media {
  .mr-md-0 {
    margin-right: 0px;
  }
  .mr-md-8 {
    margin-right: 8px;
  }
  .mr-md-16 {
    margin-right: 16px;
  }
  .mb-md-0 {
    margin-bottom: 0px;
  }
  .mb-md-4 {
    margin-bottom: 4px;
  }
  .mb-md-8 {
    margin-bottom: 8px;
  }
  .mb-md-12 {
    margin-bottom: 12px;
  }
  .mb-md-16 {
    margin-bottom: 16px;
  }
  .mb-md-24 {
    margin-bottom: 24px;
  }
  .mb-md-32 {
    margin-bottom: 32px;
  }
  .mt-md-24 {
    margin-top: 24px;
  }
}
@media (max-width: 576px) {
  .mr-sm-0 {
    margin-right: 0;
  }
  .mr-sm-16 {
    margin-right: 16px;
  }
  .mb-sm-4 {
    margin-bottom: 4px;
  }
  .mb-sm-8 {
    margin-bottom: 8px;
  }
}
