<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>products</title>
  </head>
  <body>
    <%- include('./layout/header'); -%> 
    <main class="container ptb-32 ptb-md-16 ">
      <nav class=" mb-24 mb-md-12">
        <ol class="d-flex">
          <li class="breadcrumb-item label-md label-sm-md"><a href="#" class="breadcrumb-link">首頁</a></li>
          <li class="breadcrumb-item label-md label-sm-md"><a href="#" class="breadcrumb-link">女鞋</a></li>
          <li class="breadcrumb-item label-md label-sm-md">所有商品</li>
        </ol>
      </nav>
    <h3 class="h3 ptb-7 mb-24 h4-md mb-md-12 ptb-md-9h ">女鞋</h3>
      <div class="row">
        <div class="col-2 col-md-4 ">
          <nav class="d-md-none">
            <ul class="menu">
              <li class="mb-16">
                <a href="#" class="ptb-8 active">所有商品</a>
              </li>
              <li class="mb-16"><a href="#" class="ptb-8">慢跑鞋</a></li>
              <li class="mb-16"><a href="#" class="ptb-8">滑板鞋</a></li>
              <li class="mb-16"><a href="#" class="ptb-8">厚底鞋</a></li>
              <li><a href="#" class="ptb-8">限定 / 聯名企劃</a></li>
            </ul>
          </nav>
        </div>
        <div class="col-10 col-md-4">
          <div class="row">
            <div class="col-4 col-md-2">
              <a href="./product.html" class="mb-48 mb-md-24">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/image.png?raw=true"
                    alt="product-1"
                    class="card-img mb-12 mb-md-8"
                  />
                  <h6 class="h6 mb-4 mb-md-0 ">PLATFORM 404</h6>
                  <p class="">NT$2,600</p>
              </a>
            </div>
            <div class="col-4 col-md-2">
              <a href="#" class="mb-48 mb-md-24">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-1.png?raw=true"
                    alt="product-2"
                    class="card-img mb-12 mb-md-8"
                  />
                  <h6 class="h6 mb-4 mb-md-0">PLATFORM 404</h6>
                  <p class="">NT$2,600</p>
              </a>
            </div>
            <div class="col-4 col-md-2">
              <a href="#" class="mb-48 mb-md-24">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-2.png?raw=true"
                    alt="product-3"
                    class="card-img mb-12 mb-md-8"
                  />
                  <h6 class="h6 mb-4 mb-md-0">VM001</h6>
                  <p class="">NT$2,600</p>
              </a>
            </div>
            <div class="col-4 col-md-2">
              <a href="#" class="mb-48 mb-md-24">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-3.png?raw=true"
                    alt="product-4"
                    class="card-img mb-12 mb-md-8"
                  />
                  <h6 class="h6 mb-4 mb-md-0">Melty Kiss</h6>
                  <p class="">NT$4,000</p>
              </a>
            </div>
            <div class="col-4 col-md-2">
              <a href="#" class="mb-48 mb-md-24">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-4.png?raw=true"
                    alt="product-5"
                    class="card-img mb-12 mb-md-8"
                  />
                  <h6 class="h6 mb-4 mb-md-0">BOOMBLOK</h6>
                  <p class="">NT$3,200</p>
              </a>
            </div>
            <div class="col-4 col-md-2">
              <a href="#" class="mb-48 mb-md-24">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-5.png?raw=true"
                    alt="product-6"
                    class="card-img mb-12 mb-md-8"
                  />
                  <h6 class="h6 mb-4 mb-md-0">BOOMBLOK</h6>
                  <p class="">NT$3,200</p>
              </a>
            </div>
            <div class="col-4 col-md-2">
              <a href="#" class="mb-48 mb-md-24">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-6.png?raw=true"
                    alt="product-7"
                    class="card-img mb-12 mb-md-8"
                  />
                  <h6 class="h6 mb-4 mb-md-0">R:UNER</h6>
                  <p class="">NT$4,000</p>
              </a>
            </div>
            <div class="col-4 col-md-2">
              <a href="#" class="mb-48 mb-md-24">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-7.png?raw=true"
                    alt="product-8"
                    class="card-img mb-12 mb-md-8"
                  />
                  <h6 class="h6 mb-4 mb-md-0">Sugar Snap</h6>
                  <p class="">NT$4,000</p>
              </a>
            </div>
            <div class="col-4 col-md-2">
              <a href="#" class="mb-48 mb-md-24">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-8.png?raw=true"
                    alt="product-9"
                    class="card-img mb-12 mb-md-8"
                  />
                  <h6 class="h6 mb-4 mb-md-0">Neofoam</h6>
                  <p class="">NT$4,000</p>
              </a>
            </div>
            <div class="col-4 col-md-2 d-none d-md-block">
              <a href="#" class="mb-48 mb-md-24">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-9.png?raw=true"
                    alt="product-10"
                    class="card-img mb-12 mb-md-8"
                  />
                  <h6 class="h6 mb-4 mb-md-0">Buttermood</h6>
                  <p class="">NT$4,000</p>
              </a>
            </div>
              
            
          </div>
          <ul class="d-flex a-center j-center">
                <li class="mr-12 page"><button type="button" class="btn btn-none" disabled><i class="bi bi-chevron-left " ></i></button></li>
                <li class="mr-8 page"><button type="button" class="btn active btn-hover">1</button></li>
                <li class="mr-8 page"><button type="button" class="btn btn-hover ">2</button></li>
                <li class="mr-8 page"><button type="button" class="btn btn-hover ">3</button></li>
                <li class="mr-8 page"><button type="button" class="btn btn-hover ">...</button></li>
                <li class="mr-8 page"><button type="button" class="btn btn-hover ">10</button></li>
                <li class="page"><button type="button" class="btn btn-hover"><i class="bi bi-chevron-right"></i></button></li>      
              </ul>
      </div>
    </main>
    <%- include('./layout/bottom-banner'); -%>
    <%- include('./layout/footer'); -%>
    
    <script type="module" src="../main.js"></script>
  </body>
</html>
