<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>product-Platform 404</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="main-img d-none d-md-block">
      <img
        src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/image.png?raw=true"
        alt="img-0"
        class="card-img"
      />
    </div>
    <main class="container">
      <div class="row ptb-64 pt-md-24 pb-md-0">
        <div class="col-7 d-md-none">
          <div class="main-img d-flex flex-wrap gap-8">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/image.png?raw=true"
              alt="img-0"
              class="card-img"
            />
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/image-1.png?raw=true"
              alt="img-1"
              class="card-img"
            />
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/image-2.png?raw=true"
              alt="img-2"
              class="card-img"
            />
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/image-3.png?raw=true"
              alt="img-3"
              class="card-img"
            />
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/image-4.png?raw=true"
              alt="img-4"
              class="card-img"
            />
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/image-5.png?raw=true"
              alt="img-5"
              class="card-img"
            />
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/image-6.png?raw=true"
              alt="img-6"
              class="card-img"
            />
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/image-7.png?raw=true"
              alt="img-7"
              class="card-img"
            />
          </div>
        </div>
        <div class="col-5 col-md-4">
          <nav class="mb-12">
            <ol class="d-flex">
              <li class="breadcrumb-item label-md">
                <a href="#" class="breadcrumb-link">首頁</a>
              </li>
              <li class="breadcrumb-item label-md">
                <a href="#" class="breadcrumb-link">女鞋</a>
              </li>
              <li class="breadcrumb-item label-md">
                <a href="#" class="breadcrumb-link">滑板鞋</a>
              </li>
              <li class="breadcrumb-item label-md">Platform 404</li>
            </ol>
          </nav>
          <h2 class="h2 mb-16">Platform 404</h2>
          <div class="d-flex a-center mb-16">
            <h5 class="h5 primary-400 pr-8">NT$2,600</h5>
            <del class="paragraph-sm neutral-500">NT$3,200</del>
          </div>
          <p class="paragraph-md mb-12">
            Platform 404
            以柔和奶白為底，搭配深藍色皮革點綴，走在街上自帶回頭率。鞋型採用復古運動風輪廓，結合輕量厚底與柔軟泡棉鞋舌，兼顧美感與舒適。
          </p>
          <p class="paragraph-md mb-32">
            鞋身選用柔軟皮革材質，打造出清新卻不失個性的氛圍，並以鞋面透氣孔設計提升穿著體驗，兼顧質感與舒適度，適合日常長時間著用。無論是街頭穿搭、日常通勤或週末出遊都能輕鬆駕馭。
          </p>
          <div class="spec">
            <div class="color mb-32">
              <p class="paragraph-md mb-8">顏色</p>
              <div class="d-flex">
                <button class="color-btn mr-8">
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/image.png?raw=true"
                    class="mb-4"
                    alt="product-1"
                  />
                  <p class="label-md">藍色</p>
                </button>
                <button class="color-btn">
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-1.png?raw=true"
                    class="mb-4"
                    alt="product-1-卡其色"
                  />
                  <p class="label-md">卡其色</p>
                </button>
              </div>
            </div>
            <div class="size mb-48">
              <p class="paragraph-md mb-8">尺寸</p>
              <div class="d-flex flex-wrap gap-8 mb-8">
                <button type="button" class="btn btn-size active label-md">
                  35(22.5cm)
                </button>
                <button type="button" class="btn btn-size label-md">
                  36(23.0cm)
                </button>
                <button type="button" class="btn btn-size label-md">
                  37(23.5cm)
                </button>
                <button type="button" class="btn btn-size label-md">
                  38(24.0cm)
                </button>
                <button type="button" class="btn btn-size label-md">
                  39(24.5cm)
                </button>
                <button type="button" class="btn btn-size label-md">
                  40(25.0cm)
                </button>
                <button type="button" class="btn btn-size label-md">
                  41(26.0cm)
                </button>
                <button
                  type="button"
                  class="btn btn-size btn-none label-md"
                  disabled
                >
                  42(26.5cm)
                </button>
                <button
                  type="button"
                  class="btn btn-size btn-none label-md"
                  disabled
                >
                  43(27.0cm)
                </button>
              </div>
              <p class="only-left paragraph-md">僅剩 3 雙</p>
            </div>
          </div>
          <div class="product-action mb-32">
            <button type="button" class="btn btn-love d-md-none">
              <i class="bi bi-heart mr-8"></i>加入收藏
            </button>
            <button type="button" class="btn btn-try btn-md-try">
              <i class="bi bi-handbag mr-8"></i>門市預約試穿
            </button>
            <button type="button" class="d-none btn-md-love d-md-block">
              <i class="bi bi-heart"></i>
            </button>
          </div>
          <div class="material border-bottom-1">
            <p class="label-md mb-4 mt-12">商品材質</p>
            <p class="paragraph-md pb-12 neutral-600">
              鞋面：合成皮革（Synthetic Leather）<br />
              內裡：透氣網布材質，提升舒適與排汗性<br />
              鞋底：EVA 輕量發泡橡膠，具備良好緩震與止滑效果<br />
              鞋帶：聚酯纖維，耐拉扯不易鬆脫<br />
            </p>
          </div>
          <div class="buy border-bottom-1">
            <p class="label-md mb-4 mt-12">購買須知</p>
            <p class="paragraph-md pb-12 neutral-600">
              商品顏色因螢幕顯示可能略有差異，請以實品為準。<br />
              建議首次穿著前試穿確認尺寸，避免影響退換貨權益。<br />
              本商品為限量發售，庫存有限，如需更換尺寸請儘早聯繫客服協助處理。<br />
            </p>
          </div>
          <div class="wash border-bottom-1">
            <p class="label-md mb-4 mt-12">保養方式</p>
            <p class="paragraph-md pb-12 neutral-600">
              建議以乾布或微濕軟布擦拭表面汙漬，避免機洗或長時間浸水。<br />
              收納時請放置於乾燥通風處，避免日曬及高溫導致變形或龜裂。<br />
              若需深層清潔，建議使用中性清潔劑並搭配柔刷輕刷，勿使用漂白水或強酸強鹼清潔劑。<br />
            </p>
          </div>
        </div>
      </div>
    </main>
    <div class="container ptb-48 ptb-md-40">
      <div class="mb-16">
        <h4 class="h4 ptb-9">你可能也喜歡...</h4>
      </div>
      <div class="maylike row row-md overflow-md-auto">
        <div class="col-3 col-md-4 plr-md-8">
          <a href="#">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-2.png?raw=true"
              alt="product-3"
              class="card-img mb-12"
            />
            <h6 class="h6 mb-4">VM001</h6>
            <p class="">NT$2,600</p>
          </a>
        </div>
        <div class="col-3 col-md-4 plr-md-8">
          <a href="#">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-3.png?raw=true"
              alt="product-4"
              class="card-img mb-12"
            />
            <h6 class="h6 mb-4">Melty Kiss</h6>
            <p class="">NT$4,000</p>
          </a>
        </div>
        <div class="col-3 col-md-4 plr-md-8">
          <a href="#">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-4.png?raw=true"
              alt="product-5"
              class="card-img mb-12"
            />
            <h6 class="h6 mb-4">BOOMBLOK</h6>
            <p class="">NT$3,200</p>
          </a>
        </div>
        <div class="col-3 col-md-4 plr-md-8">
          <a href="#">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-7.png?raw=true"
              alt="product-8"
              class="card-img mb-12"
            />
            <h6 class="h6 mb-4">Sugar Snap</h6>
            <p class="">NT$4,000</p>
          </a>
        </div>
      </div>
    </div>
    <%- include('./layout/bottom-banner'); -%> <%- include('./layout/footer');
    -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
